.app {
  padding: 30px;
  min-height: 100%;
  padding-bottom: 120px;
  padding-top: 80px;
}

.warpper {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px, rgb(0 0 0 / 15%) 0px 8px 16px;
  border-radius: 16px;
  padding: 5px;
  max-width: 860px;
  margin: 0 auto;
}

.header {
  background-color: #282c34;
  color: #fff;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
  border-radius: 16px 16px 0 0;
}

.header h1 {
  margin: 15px 0 0 0;
}

.logo {
  height: 82px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding: 0px 20px;
  margin: 0 auto;
  padding-bottom: 40px;
}